<nav class="navbar navbar-expand-md bg-body border rounded shadow-sm">
    <div class="container-fluid">
        <NavLink href="/" class="navbar-brand ms-sm-3 mb-0 h1">
            <i class="bi bi-gift"></i>
            Gifts
        </NavLink>
    </div>
</nav>