@inherits LayoutComponentBase
@layout MainLayout

<div class="mb-3">
    <NavLink href="/" Match="NavLinkMatch.All" class="btn btn-outline-secondary">
        Back
    </NavLink>
</div>

@Body
